@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    /* ## Colors
    ### Primary
    #### Text */
    --Very-dark-desaturated-blue: #1d1e35;
    --Soft-red: #f47c57;

    /* ####Gradient
    Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* ### Neutral
    #### Text */
    --Very-dark-grayish-blue: #4a4b5e;
    --Dark-grayish-blue: #787887;

    /* #### Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
h1{
    font-size: 3em;
    color: var(--Very-dark-desaturated-blue);
}
p{
    font-size: 1em;
    color: var(--Dark-grayish-blue);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
    background-attachment: fixed; /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/background-attachment */

}

.wrapper{
    background-color: white;
    margin-top: 110px;
    border-radius: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 450px;
}

.images{
    width: 50%;
    overflow: hidden;
}
.bg_pattern{
    width: 100%;
    height: 100%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 210%;
    background-repeat: no-repeat;
    background-position: -410px -200px;
}

.illustration-woman img{
    width: 110%;
}
.illustration-woman > img{
    position: relative;
    left: -60px;
    top: 60px;
}
.box{
    position: relative;
    top: -285px;
    left: -375px;
} 

.box img{
    width: 80%;
}
.faq{
    width: 50%;
    margin: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.info > *:not(:first-child){
    margin-top: 10px;
}
.question{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.p{
    color: hsl(237, 12%, 33%);
}
/* .active:hover{
    color: var(--Soft-red);
    cursor: pointer;
} */

.info > div{
    border-bottom: 1px solid var(--Light-grayish-blue);
    padding-bottom: 20px;
}

.answer{
    display: none;
}
.attribution{
    margin-top: -70px;
}

@media only screen and (max-width: 700px){
    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
        height: 500px;
    }
    .images{
        overflow: initial;
        width: 100%;
        height: 110px;
    }
    .faq{
        width: 80%;
        height: 50%;
        margin-top: 10px;
    }
    .info{
        text-align: left;
    }
    .bg_pattern{
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 78%;
        background-repeat: no-repeat;
        background-position: 32px 0px;
    }
    .illustration-woman {
        width: 70%;
    }
    .illustration-woman > img{
        left: 35px;
        top: -105px;
    }
    .box{
        position: relative;
        top: -540px;
        left: -25px;
    }   
    .box img{
        width: 48%;
    }
}

